<header class="app-header">
    <mat-toolbar>
        <button type="button" class="logo" aria-label="ir para home" (click)="redirectHome()">
            <img src="assets/imagens/logo.png" alt="Logo da aplicação Jornada" aria-hidden="true" tabindex="-1" />
        </button>
        <span class="spacer"></span>
        <div class="links-toolbar">
            <button mat-button>Vender milhas</button>
            <button mat-button>Sobre</button>

            <ng-container *ngIf="user$ | async as user; else login">
                <a routerLink="/perfil">
                    <mat-icon class="icon" fontIcon="account_circle" aria-hidden="true"></mat-icon>
                </a>
                <button mat-stroked-button (click)="logout()">SAIR</button>
            </ng-container>

            <ng-template #login>
                <button mat-raised-button color="primary" routerLink="/cadastro">CADASTRE-SE</button>
                <button mat-stroked-button [routerLink]="'/login'">LOGIN</button>
            </ng-template>
        </div>
    </mat-toolbar>
</header>
